# -*-coding:utf-8-*-
print "-----------welcome--------------"
products = [
    ['iphone',4500],
    ['ipad',3000],
    ['coffee',35],
    ['shoes',800]
]
salary = 10000
shop_list = []
while True:
    for index,p in enumerate(products):
         print index,p[0],p[1]
    choice = raw_input("choice some sth by:")
    if choice.isdigit():
        choice = int (choice)
        p_price = products[choice][1]
        if p_price <= salary:
            shop_list.append(products[choice])
            salary -= p_price
            print 'has added\033[41;1m %s \033[0mshoplist,your current banlence is\033[41;1m %s \033[0m' %(products[choice][0],salary)
        else:
            print 'money not enough try sth,your current banlence is\033[41;1m %s \033[0m'% salary
    elif choice == 'quit':
            print "-----------shopinglist--------------"
            for k,v in enumerate(shop_list):
                print k,v[0],v[1]
            print ' your current balence is \033[41;1m %s \033[0m ' % salary
            print "----------thank you bye-------------"
            break
